// Palette
$primary-color: #222;
$info-color: #0375be;
$warning-color: #fbb13c;
$error-color: #f44336;
$success-color: #00ae88;
$note-color: #dcdcaa;
$secondary-1-color: #09f;
$secondary-2-color: #6a0dad;
$accent-color: #ff134a;

// Font
$global-font-family: 'aktiv-grotesk', sans-serif;
$generic-font-weight: 300;
$global-radius: 0;

// Grays
$darkgray: #333;
$midgray: #666;
$lightgray: #f1f1f1;

// Text
$text-base: #585858;
$text-light: #fff;
$text-dim-light: #ddd;
$text-dark: #000;
$title-color: $text-base;

// Surface colors
$surface-light: #fff;
$surface-dark: #111;
$surface-mid: $darkgray;
$surface-disabled: #eee;

// Link
$link-color: $secondary-1-color;
$link-hover-color: #23527c;
$button-hover: $link-hover-color;

// Header
$header-bg: #222;
$header-btn-bg: $secondary-1-color;
$header-btn-color: $text-light;
$header-btn-hover-color: $secondary-1-color;
$header-btn-hover-bg: transparent;
$header-btn-radius: 0;
$header-btn-border-color: $secondary-1-color;
$header-btn-hover-border-color: $secondary-1-color;
$header-search-radius: 0;
$header-btn-box-shadow: none;
$header-btn-text-transform: uppercase;
$header-btn-font-weight: bold;
$header-btn-font-size: inherit;

// Breadcrumb
$breadcrumb-color: $text-dim-light;
$breadcrumb-link-color: $text-dim-light;
$breadcrumb-link-hover-color: $text-light;
$breadcrumb-current-color: $text-light;
$breadcrumb-font-size: .8rem;
$breadcrumb-font-weight: 400;
$breadcrumb-margin: 0;

// Text highlight
$text-highlight-color: $text-dark;
$text-highlight: $secondary-1-color;

// Borders
$border-color: #ddd;
$border-color-dark: #333;
$divider-color: #ccc;

// Scrollbars
$scrollbar-thumb-bg: #eee;
$scrollbar-thumb-bg--hover: #fff;
$scrollbar-thumb-border: #fff;
$scrollbar-thumb-track: #666;
$scrollbar-thumb-track--active: #333;

// Code view
$scrollbar-thumb-bg-cv: #f1f1f1;
$scrollbar-thumb-track-cv: #888;
$code-view-navbar-bg: #e5f4fe;
$code-view-radius: 0;
$code-view-active-color: $secondary-1-color;
$code-view-font: 'Arial', sans-serif;
$hljs-variable: #bd63c5;
$hljs-number: #b8d7a3;
$hljs-string: #d69d85;
$hljs-selector: $info-color;
$hljs-comment: #57a64a;
$hljs-color: $text-light;

$indigo: #3f51b5;
$footer-bg: #f8f8f8;

// Side nav
$main-padding: 124px;
$filter-height: 36px;
$side-nav-push: $main-padding + $filter-height;

$navbar-height: auto;

// Toc
$toc-active-color: $text-dark;
$toc-hover-color: $link-color;
$toc-color: $text-base;
$toc-bg-color: #eff1f2;

// badge component
$new-badge-color: $text-light;
$new-badge-bg: $accent-color;
$updated-badge-color: $text-light;
$updated-badge-bg: $secondary-2-color;
$badge-radius: 0;
$badge-font-size: 9px;
$badge-padding: 2px;
$badge-font-weight: 400;

$byzantium: #731963;

$external-link-icon: 'open_in_new';
$external-link-icon-padding: 18px;
$external-font-weight: inherit;

$pre-bg: $surface-dark;
$pre-color: $text-light;
$pre-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.80);

$alert-radius: 0;
$icon-container-width: 72px;
$alert-padding: 16px 16px 16px (16px + $icon-container-width);
$alert-margin: 48px 0;

$link-alpha: .6;

$affix-font-weight: 300;

$alert-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26),
0 1px 1px 0 rgba(0, 0, 0, 0.12),
0 2px 1px -1px rgba(0, 0, 0, 0.08);

$hljs-copy-btn-radius: 0;

// Table
$table-header-font-size: 16px;
$table-first-col-weight: 400;
$table-header-font-size: 18px;
$table-row-bg: #fff;
$table-text-color: $text-base;
$table-border-color: $border-color;
$table-text-transform: initial;
$table-th-border: none;
$table-th-padding: .7rem 1rem;
$table-td-padding: .7rem 1rem;

// Typography //

// h1
$h1-f-size: 2.625rem;
$h1-f-weight: 300;
$h1-l-height: 3rem;
$h1-m-top: 1.5rem;
$h1-m-bottom: 1.5rem;

// h2
$h2-f-size: 2rem;
$h2-f-weight: 300;
$h2-l-height: 3rem;
$h2-m-top: 2rem;
$h2-m-bottom: 0;

// h3
$h3-f-size: 1rem;
$h3-f-weight: initial;
$h3-l-height: 1.5rem;
$h3-m-top: 1.5rem;
$h3-m-bottom: 0;

// h4
$h4-f-size: 1rem;
$h4-f-weight: initial;
$h4-l-height: 1.5rem;
$h4-m-top: 1.5rem;
$h4-m-bottom: 0;

// h5
$h5-f-size: 1rem;
$h5-f-weight: initial;
$h5-l-height: 1.5rem;
$h5-m-top: 1.5rem;
$h5-m-bottom: 0;

// h6
$h6-f-size: 1rem;
$h6-f-weight: 400;
$h6-l-height: 1.5rem;
$h6-m-top: 0rem;
$h6-m-bottom: .5rem;

// Paragraph
$p-l-height: 2rem;
$p-m-bottom: 1.5rem;
$p-m-top: 0;
