@import 'typography';
@import 'shadows';
@import 'layout';
@import 'docfx';
@import 'components/index';
@import 'animations';

$sg-items-gap: rem(8px);

.sg-palette {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 (-$sg-items-gap) 1.5rem;
}

.sg-color-block {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex: 1;
	border-radius: $global-radius;
	margin: $sg-items-gap;
	height: 80px;
	min-width: 100px;
	max-width: 250px;
	position: relative;
	border: 1px solid $border-color;
	color: #fff;
	padding-top: 10px;
	font-weight: 400;
	overflow: hidden;

	span {
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
		width: 100%;
		padding: 5px 8px;
		font-size: 12px;
		white-space: nowrap;
		background: #fff;
		font-weight: 500;
	}

	&--primary{
		background: $primary-color;

		span {
			&::after {
				content: '#{$primary-color}';
			}
			color: $primary-color;
		}
	}

	&--info{
		background: $info-color;

		span {
			&::after {
				content: '#{$info-color}';
			}
			color: $info-color;
		}
	}

	&--success{
		background: $success-color;

		span {
			&::after {
				content: '#{$success-color}';
			}
			color: $success-color;
		}
	}

	&--warning{
		background: $warning-color;

		span {
			&::after {
				content: '#{$warning-color}';
			}
			color: $warning-color;
		}
	}

	&--error{
		background: $error-color;

		span {
			&::after {
				content: '#{$error-color}';
			}
			color: $error-color;
		}
	}

	&--secondary-1 {
		background: $secondary-1-color;

		span {
			&::after {
				content: '#{$secondary-1-color}';
			}
			color: $secondary-1-color;
		}
	}

	&--secondary-2 {
		background: $secondary-2-color;

		span {
			&::after {
				content: '#{$secondary-2-color}';
			}
			color: $secondary-2-color;
		}
	}

	&--accent {
		background: $accent-color;

		span {
			&::after {
				content: '#{$accent-color}';
			}
			color: $accent-color;
		}
	}
}

.sg-flex-row {
	display: flex;
}

.sg-flex-column {
	flex-direction: column;
}

.sg-align-i-center {
	align-items: center;
}

.sg-align-c-center {
	align-content: center;
}

.sg-badges {
	margin: 0 (-$sg-items-gap) 1.5rem;

	> * {
		margin: $sg-items-gap
	}
}

.dfx-seo-banner {
	display: flex;
	justify-content: center;
	margin: 20px auto;
	cursor: pointer;
	> img {
		width: 100%;
	}
}

.banner-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	border-width: 1px;
    border-style: solid;
    border-radius: 2px;
	border-color: #dedede;
}

.cta-button-wrapper {
	display: flex;
    justify-content: center;
}

.cta-button {
	cursor: pointer;
	color: #fff;
    background-color: #0099FF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 10px;
    padding: 0.5em 1.5em;
    border: 1px solid #0099FF;
    border-radius: 0;
    transition: all 250ms ease-in-out;
    white-space: nowrap;
}

.text-margin {
	margin-left: 2rem;
	margin-top: rem(24px);
}

.logo {
	max-width: rem(200px);
}

@media (min-width: 1200px) {
	.cta-image {
		margin-left: rem(16px);
	}
}

@media (max-width: 991px) {
	.logo {
		max-height: rem(48px);
	}
	.text-margin {
		margin-right: 2rem;
	}
	.cta-image {
		display: flex;
    	justify-content: center;
		margin-top: rem(32px);
	}
	.cta-button-wrapper {
		margin-bottom: rem(16px)
	}
	.banner-wrapper {
		display: block;
	}
}

@media (max-width: 1200px) and (min-width: 992px) {
	.cta-button {
		display: inline-block;
		max-width: 100%;
		font-size: 0.7rem !important;
	}
}

.form-control {
	border-radius: $header-search-radius;
}

