.breadcrumb{
    margin: 0;
    padding: 4px;
    background-color: transparent;
    color: #ddd;
    white-space: nowrap;
    font-size: .8rem;

    a {
        color: #ccc;

        &:hover,
        &:focus {
            color: #fff;
        }
    }
    
} 

.breadcrumb > li + li:before {
    content: '\00a0/';
}
