.code-view {
    outline: 1px solid #dedede;

    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    ::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #e1e1e1;
    }

    ::-webkit-scrollbar-track {
        background: #666666;
        border: 0px none #ffffff;
        border-radius: 44px;
    }

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    .code-views-container {
        overflow: auto;
        background-color: transparent;
    }

    .sample-container {
        padding: .1rem;
    }

    .code-view-tab-content:nth-child(n + 2) {
        background: #1E1E1E;
        height: 100%;
    }

    pre.code-wrapper {
        padding: 0;
        margin: 0;

        &:hover {
            box-shadow: none;
        }

        .hljs-code-copy::before {
            margin: 0;
        }

        code {
            border-radius: 0;
        }

        .hljs-code-copy {
            width: 100px;
            height: 40px;
            background: #1E1E1E;
            border: 1px solid #333;
            justify-content: center;

            &::before {
                display: none;
            }

            &:hover {
                border-color: $igblue;
                color: $igblue
            }

            &--active {
                border-color: $igblue;
                color: $igblue
            }
        }

        .hljs {
            padding: 0.5em;
        }
    }
}

.code-view-navbar {
    overflow-x: auto;
    background-color: #e5f4fe;
    display: flex;

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    .code-view-tab {
        position: relative;
        background-color: transparent;
        width: 87px;
        height: 47px;
        padding: .7rem;
        align-self: center;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: .8rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            color: $igblue;
        }

        &--active {
            @extend .code-view-tab;
            background-color: #fff;
            color: $igblue;

            &::after {
                content: "";
                height: 2.5px;
                background: $igblue;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
            }
        }
    }

    .fs-button-container {
        height: 50%;
        display: inline-flex;
        align-self: center;
        padding: .5rem;
        margin-left: auto;
        margin-right: 1.5rem;
        cursor: pointer;

        &:hover {
            background-color: #CBE9FC;
            color: $igblue;
        }

        .code-view-fullscreen {
            overflow: hidden;
            font-size: 18px;
            text-align: center;
            align-self: center;
        }
    }
}

.editing-buttons-container {
    padding: .5rem;
    border-top: 2px solid #dedede;
    font-size: .8rem;
    display: flex;
    align-items: center;

    &::before {
        font-family: Material Icons;
        content: "open_in_new";
        margin-right: 2px;
        overflow: hidden;
    }

    .editing-label {
        margin-right: .4rem
    }

    .stackblitz-btn,
    .codesandbox-btn {
        display: inline-flex;
        padding: .2rem .4rem;
        margin: 0 0 0 .2rem;
        width: 100px;
        font-size: .7rem;
        padding: .2rem .4rem;
        font-weight: 400;
        text-transform: none;

        &::before {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }

    .codesandbox-btn {
        width: 120px;
    }
}