@import '~highlight.js/scss/vs2015.scss';
@import 'variables';
@import '../shared/global';

.ss-collapse {
	.nav {
		> li:not(.nav__cta) {
			a {
				font-size: 16px;
				color: $text-light;
				position: relative;
				padding: 4px 8px;

				@media (min-width: 768px) {
					margin-right: 28px;
				}

				&::before {
					content: '';
					position: absolute;
					height: 2px;
					bottom: -2px;
					left: 0;
					width: 0;
					background: $text-light;
					transition: width 250ms ease-in-out;
				}

				&:focus {
					outline: none;
				}

				&:focus,
				&:hover {
					&::before {
						width: 100%;
					}
				}
			}
		}
	}
}

.ss-collapse,
.ss-container {
	@media (min-width: 768px) {
		display: flex;
		align-items: center;
	}
}


.ss-navbar {
	display: flex;
}

.ss-collapse {
	padding: 0;
}

.navbar,
.container-fluid {
	&:before,
	&:after {
		display: none !important;
	}
}

.ss-container {
	justify-content: space-between;
	width: 100%;
}

#main.ss-main {
	padding-top: 85px;
}

.ss-logo {
	width: 200px;

	@media (max-width: 768px) {

		width: 160px;
	}
}

.breadcrumb:before {
	display: none;
}

.breadcrumb > li + li:before {
	font-weight: bold;
}

.breadcrumb {
	margin: 0 0 16px 0;
	li {
		&:last-child {
			a {
				color: $text-dark;
				pointer-events: none;
			}
		}
	}
}

#autocollapse .form-control {
	border-radius: 0 $header-search-radius $header-search-radius 0;
	border: 1px solid $border-color;
	border-left: 0;
	width: 450px;
	height: 40px;
	padding-left: 0;

	@media (max-width: 1000px) {
		width: 100%;
		max-width: 340px;
	}

	&:focus {
		box-shadow: none;
	}
}

.ss-search {
	@media (max-width: 768px) {
		position: absolute;
		top: 22px;
		left: 120px;
		right: 0;
		width: 180px;
		margin: 0 auto;
	}
}

.navbar-toggle {
	margin: 0;
}

.navbar-inverse .navbar-toggle {
	border: 0;

	&:hover,
	&:focus {
		background: transparent;
		outline: initial;
	}
}

.navbar-toggle .icon-bar {
	width: 30px;
	height: 4px;
	border-radius: 3px;

	+ .icon-bar {
		margin-top: 5px;
	}
}

.input-group-addon {
	color: $text-dark;
	background: $surface-light;
	border-radius: $header-search-radius 0 0 $header-search-radius;

	> svg {
		margin-bottom: -8px;
		margin-right: -6px;
		width: 24px;
		height: 24px;
	}
}
