.navbar {
	margin-bottom: 0;
	border-bottom-color: $border-color;
	border: inset;
}

.docfx-nav-header {
	display: flex;
	justify-content: space-between;
}

.logo-breadcrumb {
	display: flex;
	align-items: center;
}

.navbar .navbar-nav {
	display: inline-block;
}

.navbar-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $navbar-height;
}

.navbar-brand {
	display: flex;
	align-items: center;
	font-family: $global-font-family;
	color: $text-light;
	font-size: 18px;
	padding: 0;
}

.navbar-header {
	&::after,
	&::before {
		display: none;
	}
}

.navbar-frameworks {
	display: flex;
	align-items: center;
}

.navbar-frameworks a {
	padding-right: 8px;
	color: #9d9d9d; 
	font-size: 0.875rem;
	&:focus,
	&:hover {
		text-decoration: none;
		color: #eee;
		background-color: transparent;
	}
}
.dropdown-menu {
	min-width: 9rem;
}
.dropdown-menu a {
	display: block;
	color: #333;
	font-size: 0.825rem;
	padding-bottom: 0.2rem;
	padding-left: 1rem;
	&:focus,
	&:hover {
		text-decoration: none;
		color: #0099FF !important;
		background-color: transparent;
	}
}

.dropdown {
	display: none !important;
}

.btn-secondary:not(.px-3) {
	padding: 0px 8px 0px 0px !important;
	color: #9d9d9d; 
	font-size: 0.825rem;
	&:focus,
	&:hover {
		text-decoration: none;
		color: #eee;
		background-color: transparent;
	}
}

@media only screen and (max-width: 1200px)  {
	.navbar-frameworks {
		display: none; 
	}
	.dropdown {
		display: flex !important;
		align-items: center;
	}
}

@media only screen and (max-width: 965px)  {
	.dropdown {
		display: none !important;
	}
}

@media only screen and (max-width: 767px)  {
	.navbar-frameworks {
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}
	.navbar-frameworks a{
		font-size: 1rem !important;
	}
	.dropdown {
		display: none !important;
	}
}

@media only screen and (max-width: 1279px) and (min-width: 960px) {
	.navbar-frameworks a{
		font-size: 0.825rem;
	}
}

.navbar {
	.navbar-brand > span {
		color: $text-light;
	}

	.nav.navbar-nav {
		width: 100%;
		padding: 16px;
		font-size: 0.75rem;
		font-weight: 400;

		li > a {
			transition: all 0.25s ease-in-out;
			text-align: center;
		}

		li.active > a {
			background-color: transparent !important;
			font-weight: 500;
		}

		li.nav__cta {

			& > a {
				color: $header-btn-color;
				background-color: $header-btn-bg;
				text-transform: $header-btn-text-transform;
				font-weight: $header-btn-font-weight;
				font-size: $header-btn-font-size;
				margin-left: 10px;
				padding: 0.5em 1.5em;
				border: 1px solid $header-btn-border-color;
				border-radius: $header-btn-radius;
				transition: all 250ms ease-in-out;
				white-space: nowrap;

				&:focus,
				&:hover {
					color: $header-btn-hover-color;
					background-color: $header-btn-hover-bg;
					border-color: $header-btn-hover-border-color;
				}

				&:focus {
					box-shadow: $header-btn-box-shadow;
					outline: none;
				}

				@media screen and (max-width: 767px) {
					margin-left: 0;
					margin-top: 10px;
				}
			}

			&.nav__cta--secondary > a {
				background-color: transparent;
				color: $secondary-1-color;

				&:hover {
					color: $text-light;
					background-color: $secondary-1-color;
				}
			}
		}

		@media only screen and (min-width: 768px) {
			display: flex;
			align-items: center;
			padding: 0;
			width: auto;
		}
	}

	.form-group{
		position: relative;
	}

	.form-control > .search-clear-icon {
		position: absolute;
		top: rem(10px);
		right: rem(5px);
	}


	@media only screen and (min-width: 768px) {
		.navbar-flex {
			display: flex !important;
			justify-content: flex-end;
			padding: inherit;
		}

		.navbar-right {
			margin-right: 0;
		}

		.nav.navbar-nav.navbar-right {
			float: none !important;
			display: inline-flex;
			height: 50px;
			justify-content: flex-end;
		}
	}
}

[data-theme='indigo-design'] {
	.navbar {
		.nav.navbar-nav {
			li.nav__cta {
				& > a {
					background-color: $success-color;
					border: 1px solid $success-color;
					border-radius: 2rem;
					color: $text-light;

					&:hover {
						color: $success-color;
						background-color: transparent;
					}

					@media screen and (max-width: 767px) {
						margin-left: 0;
						margin-top: 10px;
					}
				}

				&.nav__cta--secondary > a {
					background-color: transparent;
					border: 1px solid $text-light;
					color: $text-light;

					&:hover {
						color: $indigo;
						background-color: $text-light;
					}
				}
			}
		}
	}
}

.navbar-toggle {
	margin: 10px 10px 4px 10px;
	padding: 8px;
	border-radius: 0;
}

#search-query {
	padding-right: 28px;
}

.search-clear-icon {
	position: absolute;
	color: $filter-icon-color;
	font-size: rem(16px);
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	display: none;
}

#hamburger2 {
	margin-left: 70px;
}
