.anchorjs-link {
	//position: absolute;
	color: transparentize($primary-color, $link-alpha);
	font-family: 'Material Icons';
	padding: 0 .2em;
	height: 100%;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 100%;
	font-size: $anchorjs-link-size;
	display: inline;

	@media (max-width: 768px) {
		display: none;
	}


	&:hover {
		color: $link-hover-color;
	}

	&::after {
		content: 'link';
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
	}

	&:focus {
		color: $link-hover-color;
	}
}


