.anchorjs-link {
	$an-link-f-size: 24px;
	position: absolute;
	color: transparentize($link-color, $link-alpha);
	font-family: 'Material Icons';
	padding: 0 .2em;
	height: 100%;
	top: calc(50% - (#{$an-link-f-size}/2));
	font-size: 24px;
	line-height: normal;
	display: inline;

	@media (max-width: 768px) {
		display: none;
	}


	&:hover {
		color: $link-hover-color;
	}

	&::after {
		content: 'link';
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
	}

	&:focus {
		color: $link-hover-color;
	}
}


