pre {
	position: relative;
	opacity: 1;
	background: $pre-bg;
	color: transparentize($pre-color, 0.8);
	border-radius: $code-view-radius;
	border: 1px;

	&:hover {
		box-shadow: $pre-shadow;
	}
}

.hljs {
	position: relative;
	background: inherit;
	font-size: 14px;
	color: $hljs-color;
}

.hljs-lang-name {
	position: absolute;
	padding: 8px;
	top: 0;
	right: 0;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	opacity: 0.7;
	color: $lightgray;
}

.hljs-code-copy {
	position: absolute;
	display: flex;
	align-items: center;
	padding: 8px;
	font-size: 12px;
	color: $text-light;
	background: $secondary-1-color;
	font-weight: bold;
	border: 0;
	top: 0;
	right: 0;
	outline-style: none;
	transition: color 0.25s ease-in-out;
	border-radius: $hljs-copy-btn-radius;

	&:hover {
		color: #fff;
	}

	&::before {
		font-family: 'Material Icons';
		font-size: inherit;
		content: '\E14D';
		color: inherit;
		margin-right: .1rem
	}

	&.hidden {
		display: none;
	}
}


.hljs-variable {
	color: $hljs-variable;
}

.hljs-number,
.hljs-class {
	color: $hljs-number
}

.hljs-string,
.hljs-meta-string {
	color: $hljs-string
}

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: $hljs-selector;
}

.hljs-comment,
.hljs-quote {
	color: $hljs-comment;
}

.hljs-meta {
	color: $note-color !important;
}
