.article {
	margin-top: 120px;
	margin-bottom: 115px;
}

.null-opacity{
    opacity: 0;
}

#_content {
	animation: fadeIn;
	animation-duration: 500ms;
}

.article.grid-right {
	margin-left: 280px;
}

.article img {
	max-width: 100%;
}

.article-container {
	position: relative;
	left: max(rem(290px), 16.66666667%);
	height: 100%;
	padding: 24px;
	margin-bottom: 10px;
	z-index: 1;
	@media screen and (max-width: 991px) {
		left: 0;
	}
	@media (min-width: 1475px) {
		width: 66.66%;
	}
}

a[href^="#"] {
	text-decoration: $link-decoration;
}

.external-link {
	display: inline-flex;
	align-items: center;
	position: relative;
	padding-right: $external-link-icon-padding;
	white-space: nowrap;
	text-decoration: none !important;

	&::after {
		font-family: Material Icons;
		content: $external-link-icon;
		font-weight: $external-font-weight;
		margin-left: 2px;
		min-width: 16px;
		max-width: 16px;
		right: 0;
		position: absolute;
		overflow: visible;
	}

	&-parent {
		line-height: normal;
	}
}
