.toc {
	background-color: $toc-bg-color !important;
	overflow: hidden;
	padding-bottom: rem(30px);
}

.sidetoc.shiftup {
	bottom: rem(70px);
}

.sidetoc-expand > .caret {
	margin-left: 0;
	margin-top: rem(-2px);
}

.sidetoc-expand > .caret-side {
	border-left: rem(4px) solid;
	border-top: rem(4px) solid transparent;
	border-bottom: rem(4px) solid transparent;
	margin-left: rem(4px);
	margin-top: rem(-4px);
}

.sidetoc-heading {
	font-weight: 500;
}

.expand-stub {
	position: absolute;
	top: 0;
	left: rem(10px);
	padding: rem(6px);
	color: $toc-expand-stub-color;
	font-weight: 600;
	display: flex;
	align-items: center;
	height: rem(30px);
	font-size: rem(16px);
}

.toc .nav > li > a.sidetoc-expand {
	position: absolute;
	top: 0;
	left: 0;
}

.toc .nav > li > a {
	color: $toc-color;
	display: block;
	position: relative;
	padding: 0;
}

.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
	color: $toc-hover-color;
	background: none;
	text-decoration: inherit;
}

.toc .nav > li.active > a {
	color: $toc-active-color;
}

.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
	color: $toc-hover-color;
}

.toc .nav > li > .expand-stub {
	cursor: pointer;
}

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in > .expand-stub::before,
.toc .nav > li.in.active > .expand-stub::before,
.toc .nav > li.filtered.in > .expand-stub::before {
	content: '\2013';
}

.toc .nav > li.filtered > .expand-stub::before,
.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
	content: '+';
}

.toc .nav > li.filtered.in > ul,
.toc .nav > li.in > ul {
	display: block;
}

.toc .nav > li > ul {
	display: none;
}

.toc ul {
	font-size: rem(12px);
}

.toc-toggle {
	display: none;
}

.sidetoc-expand > .caret {
	margin-left: 0;
	margin-top: rem(-2px);
}

.sidetoc-expand > .caret-side {
	border-left: rem(4px) solid;
	border-top: rem(4px) solid transparent;
	border-bottom: rem(4px) solid transparent;
	margin-left: rem(4px);
	margin-top: rem(-4px);
}

.sidetoc-heading {
	font-weight: 500;
}

.toc-filter {
	height: $filter-height;
	background: $surface-light;
	color: $text-base;
	padding: 5px;
	position: relative;
	margin: 0 rem(5px) 0 rem(5px);
}

.toc-filter > input {
	border: 0;
	color: $text-base;
	padding-left: rem(20px);
	width: 100%;
}

.toc-filter > input:focus {
	outline: 0;
}

.toc-filter > .filter-icon {
	position: absolute;
	top: rem(10px);
	left: rem(5px);
}

.toc-filter > .clear-icon {
	position: absolute;
	top: rem(10px);
	right: rem(5px);
}

.sidenav {
	background-color: $toc-bg-color;
	margin-right: rem(-15px);
	border-right: 1px solid $border-color;

	&__header {
		padding: rem(24px) 0 0 rem(16px) !important;
		position: relative;
		font-size: rem(14px) !important;
		color: #000 !important;
		font-weight: 500 !important;
		text-transform: uppercase !important;
	}
}

.toc {
	.nav {
		li {
			position: relative;
			font-size: $toc-font-size;
			margin: 0;
			user-select: none;

			.topic-name {
				max-width: 95%;
				overflow: hidden;
				line-height: rem(16px);
				// Intentionally remove the ellipsis after discussion with the designers
				//text-overflow: ellipsis;
				//white-space: nowrap;
			}

			a {
				display: flex;
				color: $text-base;
				font-weight: normal;
			}

			a:not(.sidenav__header) {
				padding: rem(7px) 0 rem(7px) 0;
				margin-left: rem(30px);
			}
		}

		li.active {
			background-color: $toc-bg-color;

			&::before {
				position: absolute;
				content: '';
				width: rem(2px);
				top: 0;
				bottom: 0;
				left: 0;
			}

			> a {
				color: $toc-active-color !important;
				font-weight: bold !important;
			}

			> a:hover {
				color: $toc-hover-color !important;
			}
		}

		li.new {
			a.new:not(.sidenav__header) {
				padding: rem(7px) rem(45px) rem(7px) 0;
				margin-left: rem(30px);
			}

			a.updated:not(.sidenav__header) {
				padding: rem(7px) rem(75px) rem(7px) 0;
				margin-left: rem(30px);
			}

			> .new {
				padding: 0;
			}

			.new__badge,
			.updated__badge {
				position: absolute;
				top: 50%;
				right: rem(5px);
				transform: translateY(-50%);
			}
		}

		.nav {
			margin: 0;
			padding: 0 rem(16px);

			li {
				a {
					font-weight: 400;
					color: $midgray;
				}

				a:hover {
					color: $toc-hover-color;
				}

				&.new {
					.new__badge, .updated__badge {
						right: rem(-11px);
					}
				}
			}
		}
	}

	@media only screen and (min-width: 992px) {
		&::after {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
		}
	}
}


.sidenav-container {
	position: fixed;
}

.toc-toggle {
	justify-content: center;
	padding: rem(14px) 0;
	font-size: rem(14px);
	font-weight: 500;
	text-transform: uppercase;
	color: #282828;
	background: #eff1f2;
	border-bottom: 1px solid #dedede;

	&:focus,
	&:hover {
		color: $secondary-1-color;
	}
}

.sidetoc {
	margin-left: -15px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $toc-bg-color;
	height: calc(100vh - #{$side-nav-push});
	z-index: 1;
	border-top: 1px solid $border-color;
}

.toc-filter {
	margin: 0;

	#toc_filter_input {
		font-size: rem(13px);
		padding-left: rem(24px);
		padding-right: 25px;
	}

	.filter-icon {
		color: $filter-icon-color;
		font-size: rem(14px);
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	.clear-icon {
		position: absolute;
		color: $filter-icon-color;
		font-size: rem(16px);
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
		cursor: pointer;
		display: none;
	}
}

@media only screen and (max-width: 991px) {
	#toc {
		height: auto !important;
	}

	.toc-toggle {
		display: flex;
	}

	.sidetoc {
		margin: 0;
	}

	.sidenav {
		padding: 0;
		margin: rem(60px) 0 rem(24px) 0 !important;
	}

	.sidenav-container {
		border-right: none;
		position: relative;
	}
}
