.badge {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	line-height: 10px;
	user-select: none;
	padding: $badge-padding;
	border-radius: $badge-radius;
	font-size: $badge-font-size;
	font-weight: $badge-font-weight;
}

.new--badge {
	color: $new-badge-color;
	background: $new-badge-bg;
}

.updated--badge {
	color: $updated-badge-color;
	background: $updated-badge-bg;
}

.preview--badge {
	color: $preview-badge-color;
	background: $preview-badge-bg;
}

.beta--badge {
	color: $beta-badge-color;
	background: $beta-badge-bg;
}

.new--badge {
	border-radius: $badge-radius;
	color: $new-badge-color;
	background: $new-badge-bg;
	font-size: $badge-font-size;
	font-weight: $badge-font-weight;
}
