{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}} 
{{!include(/^bundles/.*/)}}
{{!include(/^assets/.*/)}}
{{!include(/^i18n/.*/)}}
{{!include(search-stopwords.json)}}

{{#igniteuiTheme}} {{>layout/igniteui/master}} {{/igniteuiTheme}}
{{#slingshotTheme}} {{>layout/slingshot/master}} {{/slingshotTheme}}
