{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}} 
{{!include(/^bundles/.*/)}}
{{!include(/^assets/.*/)}}
{{!include(/^i18n/.*/)}}
{{!include(search-stopwords.json)}}

<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html lang="{{_appLang}}">
{{>partials/head}}

<body data-spy="scroll" data-target="#affix" data-nav-base-url="{environment:infragisticsBaseUrl}" data-demos-base-url="{{_demosBaseUrlVar}}"
    data-lang="{{_language}}" data-theme="{{_productThemeName}}" data-timestamp="{{_timestamp}}">
	<!-- Google Tag Manager (noscript) -->
	<noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={environment:GTMContainerId}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
	<!-- End Google Tag Manager (noscript) -->
    <header>
        {{#slingshotTheme}}
            {{^_disableNavbar}} {{>partials/slingshot/navbar}} {{/_disableNavbar}}
        {{/slingshotTheme}}

        {{#igniteuiTheme}}
            {{^_disableNavbar}} {{>partials/navbar}} {{/_disableNavbar}}
        {{/igniteuiTheme}}
    </header>

    <div id="main" role="main" class="container-fluid">
        <div class="body-content docfx-content {{#_isReveal}} row-reveal {{/_isReveal}}">
            {{#_enableSearch}}
                <div class="body-content">
                    {{>partials/searchResults}}
                </div>
            {{/_enableSearch}}
            <div class="sidenav-container">
                {{>partials/toc}}
            </div>

            <div class="article-container null-opacity resizable-content" id="_article-content-wrapper">
                {{#slingshotTheme}}
                    {{^_disableBreadcrumb}} {{>partials/breadcrumb}} {{/_disableBreadcrumb}}
                {{/slingshotTheme}}
                <div id="_article-wrapper">
                    <article class="content wrap" id="_content" data-uid="{{uid}}">
                    {{!body}}
                    {{#_gitHubBtnLbl}}
                        <div>{{>partials/github}}</div>
                    {{/_gitHubBtnLbl}}
                    </article>
                </div>
            </div>

            <div class="hidden-md docfx-affix hide-when-search">
                {{^_disableAffix}} {{>partials/affix}} {{/_disableAffix}}
            </div>

        </div>

    </div>

    {{#slingshotTheme}}
        {{^_disableFooter}} {{>partials/slingshot/footer}} {{/_disableFooter}}
    {{/slingshotTheme}}

    {{#igniteuiTheme}}
        {{^_disableFooter}} {{>partials/footer}} {{/_disableFooter}}
    {{/igniteuiTheme}}

    {{>partials/scripts}}
</body>

</html>
